.counter{
  display:flex;
  justify-content: center;
  margin-top: 350px;
  background-color: white;
  width: 100px;
  height: 27px;
  margin-left: 600px;
  padding: 20px;
  border-radius: 10px;
}

.decrement{
  margin-right: 20px;
  border-radius: 5px;
  padding: 0.5rem;
}

.increment{
  margin-left: 20px;
  border-radius: 5px;
  padding: 0.5rem;
}

.display{
  font-size: 2rem;
  
}

body{
  background-color: rgb(76, 74, 74);
}

button:hover{
  background-color: gray;
  cursor: pointer;
}